<!doctype html>
<html> 
<body> 
<h1>Mother Risk Factors</h1>

  <form action="" method="post"> 
    <d1>
      <table>
        <tr>
          <td>Diabetes:</td>
		 </tr>
		 <tr>
          <td><input type=checkbox name="preexisting-diabetes" value="preexisting-diabetes"> 
              Pre-existing Diabetes
          <td>
        </tr>
        <tr>
          <td><input type=checkbox name="gestational-diabetes" value="gestational-diabetes"> 
              Gestational Diabetes
          <td>
        </tr>
      </table>
	</d1>
    <p><input type="submit" value="Save & Next" ></p> 
  </form> 
</body> 
</html> 